<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAys8bngthKoIJi7j1bSM8jv4heMxczp_o</string>
	<key>GCM_SENDER_ID</key>
	<string>442728881563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kasem.wallpapers</string>
	<key>PROJECT_ID</key>
	<string>km2wallpepar</string>
	<key>STORAGE_BUCKET</key>
	<string>km2wallpepar.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442728881563:ios:dd7739eb9d50ed2d7e153e</string>
</dict>
</plist>